.panel-header-simple,
.panel-header {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
}

.title {
    font-weight: 400;
    font-size: 18px;
    color: #0056b4;
    padding-top: 0.17rem;
}

.panel-header-padding-small {
    padding: 0.8em 1.25rem 0.8rem 0.4rem;
}

.panel-background {
    background-color: #ffffff;
}

.panel-background-bottom-border {
    border-bottom: 1px solid #a9a9a9;
}

.custom-icon-background,
.panel-simple:hover,
.panel-header:hover {
    background-color: #e9f0ff;
}

.panel-body {
    padding-left: 1.5rem;
    padding-right: 1rem;
    background-color: #ffffff;
}

.panel-body-small {
    padding-left: 1.5rem;
}

.panel-body-x_small {
    padding-left: 1rem;
}

.panel-body-left-simple {
    border-left: 2px solid #c1c4cb;
    margin: 0.5rem 0 1rem 0.7rem;
}

.panel-body-left {
    border-left: 2px solid #c1c4cb;
    margin: 0.5rem 0 1rem 1rem;
}

.custom-icon-chevron,
.panel-header:hover .custom-icon-background,
.custom-icon-background {
    fill: #00459c;
}

.custom-icon-background,
.panel-header:hover .custom-icon-chevron,
.custom-icon-chevron {
    fill: #e9f0ff;
}

.custom-icon-chevron {
    fill: #00459c;
}

.custom-icon-chevron-simple {
    fill: #00459c;
}

.rotate-chevron {
    transform: rotate(-180deg);
}

.rotate-chevron,
.custom-chevron {
    transition: transform 0.2s ease;
}

.panel-divider {
    border-bottom: 1px solid #cccccc;
}

.panel-header-expandable {
    cursor: pointer;
}
