.end-dialogue-container {
    background-color: var(--a-surface-neutral-subtle);
    padding: var(--a-spacing-3);
    border-radius: 0 0 0.5rem 0.5rem;
}

.navds-button {
    padding: var(--a-spacing-1-alt) var(--a-spacing-3);
}

.backdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.uiPanelCopy {
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    background-color: #ffffff;
    overflow: visible;
    -webkit-transform: translate3d(0, 0, 0);
}

.uiPanelCopy .container {
    position: relative;
    z-index: 9002;
}

.uiPanelCopy .panel-content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

.uiPanelCopy.northCopy > .pointer {
    border: 0;
    border-bottom: 1px solid #d8dde6;
    border-right: 1px solid #d8dde6;
}

.uiPanelCopy > .pointer {
    z-index: 9001;
    width: calc(1.25rem + 0.0625rem);
    height: calc(1.25rem + 0.0625rem);
    transform: rotate(45deg);
    border-top: 1px solid #d8dde6;
    border-left: 1px solid #d8dde6;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.override {
    --override-padding-bottom-mobile: 3rem;
    --override-max-width: calc(50% - 16px);
}

.messagebox {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    word-break: break-word;
}

.modal-header {
    text-align: center;
    margin: 0.5rem 0;
}

.absPositionBtn {
    position: absolute;
    right: 69px;
    transform: translateY(-50%);
    white-space: nowrap;
    text-align: center;
}

.greenfont {
    color: #06893a;
}

.modal-header-text {
    margin: 1rem 0;
}

.modal-content {
    margin: 0 2rem;
    background: var(--navds-global-color-gray-100, #f1f1f1);
}

h1 {
    margin: 0;
}

.modal-footer {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 0.5rem;
}

@media only screen and (max-width: 480px) {
    .hideMobile {
        display: none;
    }

    .absPositionBtn {
        right: auto;
        left: 8px;
        bottom: 16px;
        transform: translateY(0%);
    }

    .threeLinesMobile {
        -webkit-line-clamp: 3;
    }

    .leftAlign-mobile {
        text-align: left;
    }

    .bigHorizontalMargin-noMobile {
        margin-right: 0px;
        margin-left: 0px;
    }
}
