.medskrivBlocker {
    background: grey;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.greenHeader {
    --overwrite-header-color: #ccf1d6;
}

.blueHeader {
    --overwrite-header-color: blue;
}
