.popoverPosition {
    position: absolute;
    max-width: min(45ch, 97vw);
    width: max-content;
    overflow-wrap: break-word;
}

.popoverTop.navds-popover {
    right: auto;
    left: 50%;
    bottom: calc(100% + 1rem);
    transform: translateX(-50%);
}

.popoverTop.navds-popover__arrow {
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    bottom: -0.5rem;
}

@media only screen and (max-width: 768px) {
    .popoverRight--mobile.navds-popover__arrow {
        margin-left: auto;
        margin-right: auto;
        left: auto;
        right: 13px;
        bottom: -0.5rem;
    }

    .popoverRight--mobile.navds-popover {
        right: 0px;
        left: auto;
        bottom: calc(100% + 1rem);
        transform: translateX(10px);
    }
}
