.typo-undertittel {
    width: inherit;
}
.dialog {
    margin-bottom: 3px !important;
}
.unread {
    border-style: hidden hidden hidden solid; 
    border-width: .5em;
    border-color: #0067C5;
}
.read {
    border-style: hidden hidden hidden solid; 
    border-width: .5em;
    border-color: #ffffff;
}
.greenfont {
    color: #06893A;
}
.iconclass:hover .iconcolor {
    filter: invert(26%) sepia(90%) saturate(1799%) hue-rotate(191deg) brightness(92%) contrast(106%);
}
.messagebox{
    box-sizing: content-box;
    width: 100%;
}