.container {
    margin: 0 auto var(--a-spacing-20) auto;
    max-width: 640px;
}

.survey-span {
    margin-top: var(--a-spacing-4);
    padding-left: var(--a-spacing-3);
}

.survey-container {
    margin-top: var(--a-spacing-8);
}

@media only screen and (max-width: 576px) {
    .container {
        margin-left: var(--a-spacing-3);
        margin-right: var(--a-spacing-3);
    }
}
