.container {
    margin: var(--a-spacing-5) auto var(--a-spacing-20) auto;
    max-width: 640px;
}

.survey-container {
    margin-top: var(--a-spacing-8);
}

.survey-span {
    margin-left: var(--a-spacing-3);
}

@media only screen and (max-width: 576px) {
    .container {
        margin-left: var(--a-spacing-4);
        margin-right: var(--a-spacing-4);
    }

    .survey-row {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .survey-span {
        margin: var(--a-spacing-4) 0 var(--a-spacing-4) 0;
    }
}
