.header {
    text-align: left;
}
.ficon {
    vertical-align: middle;
    margin: auto;
}
.subheader {
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.inboxwrapper {
    margin-bottom: 3rem;
}
.body {
    font-family: var(--navds-font-family);
    line-height: 1.375;
    color: var(--navds-color-text-primary);
    font-size: 1.125rem;
    text-align: left;
    padding-top: 1.25rem;
}

.centerInfobox {
    width: 65%;
    margin: auto;
}

@media only screen and (max-width: 1023px) {
    .mobil-padding {
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .horizontalMargin-mobile {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
