.header {
    text-align: left;
}
.subheader {
    margin-bottom: var(--a-spacing-1);
    margin-top: 2rem;
}
.inboxwrapper {
    margin: 0 var(--a-spacing-3) 3rem var(--a-spacing-3);
}
.body {
    font-family: var(--navds-font-family);
    line-height: 1.375;
    color: var(--navds-color-text-primary);
    font-size: 1.125rem;
    text-align: left;
    padding-top: 1.25rem;
}

.centerInfobox {
    width: 65%;
    margin: auto;
}

@media only screen and (max-width: 1023px) {
    .mobil-padding {
        padding-left: 1rem;
    }
}
