.button {
    display: grid;
    width: 100%;
    --slds-c-button-brand-color-background: #549fa4;
    --slds-c-button-brand-color-background-hover: #549fa4;
    --slds-c-button-brand-color-background-active: #549fa4;
    --slds-c-button-brand-color-border: #549fa4;
    --slds-c-button-brand-color-border-hover: #549fa4;
    --slds-c-button-brand-color-border-active: #549fa4;
}

.border {
    border-width: 2px;
}
