.button {
    display: grid;
    width: 100%;
    --slds-c-button-brand-color-background: #99c3ff;
    --slds-c-button-brand-color-background-hover: #66a5f4;
    --slds-c-button-brand-color-background-active: #66a5f4;
    --slds-c-button-brand-color-border: #99c3ff;
    --slds-c-button-brand-text-color: black;
    --slds-c-button-brand-text-color-active: black;
    --slds-c-button-brand-text-color-hover: black;
}

[data-expanded='true'] {
    --slds-c-button-outline-brand-color-background: #cce1ff;
    --slds-c-button-outline-brand-color-border: #0056b4;
    --slds-c-button-outline-brand-color-background-hover: #cce1ff;
    --slds-c-button-outline-brand-color-background-active: #cce1ff;
}

.flowButton:last-child {
    padding-right: 0px;
}
