.button {
    display: grid;
    width: 100%;
}

.green {
    --slds-c-button-brand-color-background: #236b7d;
    --slds-c-button-brand-color-background-hover: #134852;
    --slds-c-button-brand-color-background-active: #236b7d;
    --slds-c-button-brand-color-border: #236b7d;
    --slds-c-button-brand-color-border-hover: #134852;
    --slds-c-button-brand-color-border-active: #236b7d;
}

.blue {
    --slds-c-button-brand-color-background: #3380a5;
    --slds-c-button-brand-color-background-hover: #005b82;
    --slds-c-button-brand-color-background-active: #005b82;
    --slds-c-button-brand-color-border: #3380a5;
    --slds-c-button-brand-color-border-hover: #005b82;
    --slds-c-button-brand-color-border-active: #005b82;
}
