.modalpadding {
    max-width: calc(992px - 2rem);
    padding: 2em;
    color: #3e3832;
}
.lukknapp-positioning {
    position: absolute !important;
    top: 1rem;
    right: 1rem;
}

.overrides {
    max-width: var(--override-max-width, none);
}

@media only screen and (max-width: 1024px) {
    .modalMobile {
        max-width: none;
    }

    .noHorizontalPadding-mobile {
        padding-left: 0px;
        padding-right: 0px;
    }
}
