.header {
    margin-bottom: var(--a-spacing-8);
}

.navds-button {
    padding: var(--a-spacing-3) var(--a-spacing-5);
}

.container {
    margin: 0 var(--a-spacing-3) var(--a-spacing-10) var(--a-spacing-3);
}

.theme-radio-button,
.medskriv-radio-button,
.text-area,
.vilkar-container,
.modal-footer {
    margin-top: var(--a-spacing-10);
}

.button-width {
    justify-content: center;
    width: 14em;
}

.subtitle,
.vilkar-container {
    margin-bottom: var(--a-spacing-10);
}

.vilkar-link {
    align-self: start;
    justify-self: start;
    border: 0px;
    margin-top: 0.75rem;
    background-color: transparent;
}

.vilkar-link:hover {
    text-decoration: none;
}

.vilkar-link:active,
.vilkar-link:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: var(--a-text-action);
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.new-message-button {
    margin-top: var(--a-spacing-10);
}

.subheader {
    margin-bottom: var(--a-spacing-1);
}

.errorBox {
    margin-bottom: var(--a-spacing-5);
}

.inbox-list {
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-4);
}

@media only screen and (max-width: 576px) {
    .textLeftAlign-mobile {
        text-align: left;
    }

    .leftMargin-mobile {
        margin-left: 16px !important;
    }

    .modal-footer {
        display: block;
    }

    .modal-footer > *:first-child {
        margin-bottom: 1rem;
    }

    .vilkar-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .vilkar-container .vilkar-link {
        width: 100%;
        margin-top: 0.5rem;
    }

    .vilkar-container .vilkar-link {
        width: auto;
    }
}
