.header {
    margin-bottom: var(--a-spacing-8);
}

.navds-button {
    padding: var(--a-spacing-3) var(--a-spacing-5);
}

.container {
    margin: var(--a-spacing-05) auto var(--a-spacing-20) auto;
    max-width: 640px;
}

.theme-radio-button,
.medskriv-radio-button,
.text-area,
.vilkar-container {
    margin-top: var(--a-spacing-10);
}

.subtitle,
.vilkar-container {
    margin-bottom: var(--a-spacing-10);
}

.vilkar-link {
    align-self: start;
    justify-self: start;
    border: 0px;
    margin-top: 0.75rem;
    background-color: transparent;
}

.vilkar-link:hover {
    text-decoration: none;
}

.vilkar-link:active,
.vilkar-link:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: var(--a-text-action);
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.new-message-button {
    margin-top: var(--a-spacing-10);
}

.subheader {
    margin-bottom: var(--a-spacing-1);
}

.errorBox {
    margin-bottom: var(--a-spacing-5);
}

.inbox-list {
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-5);
}

.navds-modal__header {
    margin-bottom: 0;
    padding-bottom: 0;
}

@media only screen and (max-width: 576px) {
    .textLeftAlign-mobile {
        text-align: left;
    }

    .leftMargin-mobile {
        margin-left: 16px !important;
    }

    .vilkar-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .vilkar-container .vilkar-link {
        width: 100%;
        margin-top: 0.5rem;
    }

    .button-width {
        width: 100%;
    }

    .container {
        margin-left: var(--a-spacing-3);
        margin-right: var(--a-spacing-3);
    }
}
