.header {
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
}
.text-center {
    text-align: center;
}
.inputarea {
    margin-bottom: 2em;
}
.ficon {
    margin: 1em;
    height: 2em;
}
.johnny {
    width: 25%;
    float: right;
    margin-top: 1em;
}
.headlineholder {
    display: flow-root;
}
.betingelser {
    max-width: calc(992px - 2rem);
    padding: 3em;
    color: #3e3832;
}
.lukknapp-positioning {
    position: absolute !important;
    top: 1rem;
    right: 1rem;
}
.sendbutton {
    margin-top: 1em;
    justify-content: center;
}
.logo {
    margin: 1em;
}
.typo-undertittel_farge {
    color: #0067c5;
    margin-bottom: 2em;
}
.descholder {
    margin-top: 1em;
}
.skjemaelement {
    margin-top: 1em;
}
:host {
    --sds-c-textarea-sizing-min-height: 150px;
}
.nav-wrapper {
    margin-bottom: 4em;
}

.knapp-width {
    justify-content: center;
    width: 14em;
}

.list {
    list-style-type: disc;
}

.listItem {
    width: fit-content;
    margin: auto;
}

.feilBoks {
    border: var(--navds-global-color-nav-red) solid 3px;
}

.checkbox {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
}

.checkbox c-community-checkbox {
    grid-column: 2;
}

.vilkar-link {
    align-self: start;
    justify-self: start;
    border: 0px;
    margin-top: 12px;
    background-color: transparent;
}

.vilkar-link:hover {
    text-decoration: none;
}

.vilkar-link:active,
.vilkar-link:focus {
    background-color: var(--ac-link-active-bg, var(--a-border-focus));
    box-shadow: 0 0 0 2px var(--ac-link-active-border, var(--a-border-focus));
}

.override {
    --override-border-top-right-radius: 0px;
    --override-border-bottom-right-radius: 0px;
}

.leftAlign {
    text-align: left;
}

.topGap {
    margin-top: 16px;
}

.topBigGap {
    margin-top: 32px;
}

.btnPositioning {
    display: flex;
    justify-content: center;
    gap: 16px;
}

@media only screen and (max-width: 576px) {
    .textLeftAlign-mobile {
        text-align: left;
    }

    .leftMargin-mobile {
        margin-left: 16px !important;
    }

    .btnPositioning {
        display: block;
    }

    .btnPositioning > *:first-child {
        margin-bottom: 16px;
    }
}

.testClass {
    background: none;
}

.testClass:active,
.testClass:focus {
    background: initial;
}

.ingress {
    text-align: center;
}
